{% extends 'Base.html' %}
{% load static %}
{% block content %}
    <div class="text-center">
        <h1 class="mb-0">Alienware X Series Gaming Laptops</h1>
        <h2 class="text-info mb-4">Thinness through innovation</h2>
    </div>
    <div class="card mb-1 border-0">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="{% static 'images/product01.webp' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body" style="padding: 10%">
                    <h3 class="text-info">Artfully engineered design</h3>
                    <p class="lead">The new Legend 2.0 design is a natural evolution from its iconic geometric beauty
                        and blended bone lines. The new design boasts dark core features, a silky, stain-resistant
                        finish  and customizable AlienFX lighting.</p>
                    <hr>
                    <h3 class="text-info">Improved thermals for longer gaming sessions</h3>
                    <p class="lead">Alienware Cryo-Tech™ advancements like Element 31
                        and HyperEfficient voltage regulation protect thermal conditions for hours,
                        so you have the freedom to game harder and longer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 border-0">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="{% static 'images/product02.webp' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body" style="padding: 10%">
                    <h3 class="text-info">A difference you can feel</h3>
                    <p class="lead">Our latest collaboration with Cherry brings you the world’s first ultra-low-profile
                        mechanical keyboard with 1.8mm total key travel.</p>
                    <hr>
                    <h3 class="text-info">Satisfy your senses</h3>
                    <p class="lead">A sturdy, audible, satisfying click across a smooth,
                        uniform keyboard keeps you locked into your gameplay.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-2 mb-2">
        <hr>
        <img src="{% static 'images/product03.png' %}" class="img-fluid rounded-start" alt="...">
        <h2 class="mb-0">Find the Alienware Laptop that’s <b class="text-info">best for you.</b></h2>
        <hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="{% static 'images/product04.png' %}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h3 class="card-title mb-1">Alienware x14</h3>
                    <h4 class="card-subtitle text-info mb-2">$1,699.99</h4>
                    <ul>
                        <li><strong>CPU: </strong>12th Gen Intel® Core™ i7-12700H</li>
                        <li><strong>Graphics: </strong>NVIDIA® GeForce RTX™ 3050 Ti, 4 GB GDDR6</li>
                        <li><strong>Display: </strong>14", FHD 1920x1080, 144Hz, Non-Touch, 3ms, Advanced Optimus, ComfortView Plus, NVIDIA G-SYNC</li>
                        <li><strong>Memory: </strong>16 GB, LPDDR5, 4800 MHz, integrated</li>
                        <li><strong>Hard Drive: </strong>512 GB, M.2, PCIe NVMe, SSD</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-info text-light w-100 rounded">
                        <i class="bi bi-cart-plus"></i>
                        Add Product To Cart
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/product05.png' %}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h3 class="card-title mb-1">Alienware x15 R2</h3>
                    <h4 class="card-subtitle text-info mb-2">$2,499.99</h4>
                    <ul>
                        <li><strong>CPU: </strong>12th Gen Intel® Core™ i7-12700H</li>
                        <li><strong>Graphics: </strong>NVIDIA® GeForce RTX™ 3070 Ti, 8 GB GDDR6</li>
                        <li><strong>Display: </strong>15.6", QHD 2560x1440, 240Hz, Non-Touch, 2ms, Advanced Optimus, ComfortView Plus, NVIDIA G-SYNC</li>
                        <li><strong>Memory: </strong>16 GB, LPDDR5, 5200 MHz, integrated, dual-channel</li>
                        <li><strong>Hard Drive: </strong>512 GB, M.2, PCIe NVMe, SSD</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-info text-light w-100 rounded">
                        <i class="bi bi-cart-plus"></i>
                        Add Product To Cart
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/product06.png' %}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h3 class="card-title mb-1">Alienware x15 R2</h3>
                    <h4 class="card-subtitle text-info mb-2">$3,099.99</h4>
                    <ul>
                        <li><strong>CPU: </strong>12th Gen Intel® Core™ i9-12900H</li>
                        <li><strong>Graphics: </strong>NVIDIA® GeForce RTX™ 3070 Ti, 8 GB GDDR6</li>
                        <li><strong>Display: </strong>17.3", FHD 1920x1080, 480Hz, Non-Touch, 3ms, ComfortView Plus, NVIDIA G-SYNC, Advanced Optimus</li>
                        <li><strong>Memory: </strong>16GB 2x8GB DDR5 4800MHz</li>
                        <li><strong>Hard Drive: </strong>1 TB, M.2, PCIe NVMe, SSD</li>
                        <br>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-info text-light w-100 rounded">
                        <i class="bi bi-cart-plus"></i>
                        Add Product To Cart
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}