{% extends 'Base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'images/profile.png' %}" class="card-img-top object-fit-cover rounded w-100 h-auto" alt="...">
            <div class="mt-1 mb-1 p-3 border border-2 border-dark rounded h-auto" style="color: #4E2268">
                <h4>CHAT-WI-MON</h4>
                <p>
                    <b>CHAT </b>is a tall device for hanging, for honor is like heaven which is the center of the universe.
                    and
                    <b>WIMON </b>is a Cleanliness, purity, no blemishes, without blemishes.
                </p>
            </div>
        </div>
        <div class="col-md-9 ps-md-0">
            <div class="text-light rounded p-3 h-auto" style="background-color: #4E2268">
                <h2>Profile</h2>
                <p>Hi, my name is Chatwimon Wangsabay. When I was young, I had a dream like everyone else, but it was not clear... until now It's a career that works with technology.</p>
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li><strong>Full Name :</strong> <span>Chatwimon Wangsabay</span></li>
                            <li><strong>Nick Name :</strong> <span>Whan</span></li>
                            <li><strong>Date of Birth :</strong> <span>6 Jan 2002</span></li>
                            <li><strong>Race :</strong> <span>Thai</span></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><strong>Weight :</strong> <span>50</span></li>
                            <li><strong>Height :</strong><span>155</span></li>
                            <li><strong>MBTI :</strong> <span>INFJ</span></li>
                            <li><strong>Blood Type :</strong> <span>A</span></li>
                        </ul>
                    </div>
                </div>
                <p>Since I can remember, i like to play games, Job from friends or surf the internet. But sometimes I can't keep up with the world. And that's why I Love it. because I learned a lot from technology.
                <hr>
                <h2>Hobby</h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>Coding</li>
                            <li>Practice Guitar</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Wash a Car</li>
                            <li>Read a Novel</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p class="display-2">Every day is all about me.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        WEDNESDAY of <cite title="Source Title">Netflix</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
{% endblock %}