{% extends 'Base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-2 h-50">
            <img src="{% static 'images/rm01.jpg' %}"
                 class="img-fluid rounded-circle" alt="...">
        </div>
        <div class="col-md-10">
            <h2 class="text-danger">Heart Rocker</h2>
            <p class="lead">
                <b class="text-danger">P'Eek HRK</b>
                or the owner of a YouTube channel named <b class="text-danger">"HEARTROCKER"</b>, a famous game caster. Gamers must know him.
                With an outstanding character that has been on the screen through many works for more than 10 years
                in the gaming industry, guaranteed by more than 8 million subtitles,
                every game that he plays has created both fun, laughter, smiles and encouragement.
                Including tears to the audience already Plus,
                he can approach the role with inner life in a very unique way.</p>
        </div>
    </div>
    <hr>
    <img src="{% static 'images/rm02.jpeg' %}" class="img-fluid rounded-3 w-100" alt="...">
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <h2 class="text-center text-danger">Recommend</h2>
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/Wn3f_HWU1dQ"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
            <h2 class="text-center text-danger">Popular</h2>
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/etF_N3pvCpk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row justify-content-md-center text-center" style="margin: 5%">
        <div class="col-md-3">
            <a class="nav-link" aria-current="location" href="https://www.youtube.com/@HEARTROCK" >
                <h5><i class="bi bi-youtube text-danger"></i>
                    Youtube</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a class="nav-link" aria-current="location" href="https://www.facebook.com/MightyCaster" >
                <h5><i class="bi bi-facebook text-primary"></i>
                    Facebook</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a class="nav-link" aria-current="location" href="https://www.tiktok.com/@theaek_heartrocker" >
                <h5><i class="bi bi-tiktok text-info"></i>
                    Tiktok</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a class="nav-link" aria-current="location" href="https://soundcloud.com/heartrocky" >
                <h5><i class="bi bi-soundwave text-warning"></i>
                    Soundcloud</h5>
            </a>
        </div>
    </div>
{% endblock %}